/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Used by dotenv library to load environment variables.
.env
/log/*
.idea/*
.byebug_history

football-butler-*.gem